body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #ffefa1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

th, td ,td:hover{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-size: 1em;
  }

td:hover {
    background-color: #f7d9d9ca;
}

th {
    background-color: cornsilk;
    width: calc(100%/7);
}
  
select, option {
    text-align-last:center;
    font-weight: bold;
    padding: 0.5em;
    flex-grow: 1;
    background-color: #f0d1a0;
}

.selection-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    max-width: 400px;
    min-width: 300px;
}

.color-date {
    border-radius: 30%;
    background-color: #f8cfcf;
}

.table-date {
    border-collapse: collapse;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 50px;
}

.calender-container {
    display: flex;
    background-color: azure;
    height: 80%;
    width: 86%;
    min-width: 700px;
    border-radius: 2.5%;
}
.calender-left-section {
    display: flex;
    flex-grow: 4.2;
    flex-shrink: 1;
    min-width: 360px;
    max-width: 450px;
    flex-direction: column;
    background-color: #e49e76;
    border-radius: 2% 0% 0% 2%;
}

.calender-right-section {
    display: flex;
    flex-grow: 5.8;
    flex-shrink: 4;
    min-width: 320px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.calender-clock {
    height: 40%;
    width: 100%;
}
.calender-todolist {
    height: 60%;
    width: 100%;
}

.form-add-task {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex-grow: 1;
}

button, input{
    height: 30px;
    border: none;
}
button {
    width: 60px;
}